.about-page {   
    display: flex;    
    height: fit-content;
    margin: 0 auto;
    margin: 2rem;
    align-items: center;    
    justify-content: center;        
    text-align: justify;
}
.about-photo {
    text-align: center;
}
.about-photo,
.about-block {    
    width: 100%;   
}

@media only screen and (max-width: 1200px) {
    .about-page {       
        flex-direction: column;       
    }
}