.about-page {   
    display: flex;
    height: 100vh;
    margin: 0 auto;
    margin: 2rem;
    align-items: center;    
    justify-content: center;    
    border-bottom: 1px solid lightgrey;
}
.about-photo {
    text-align: center;
}
.about-photo,
.about-block {    
    width: 100%;   
}

.about-text {
    text-align: start;
}