.home-page {
    display: flex;
    height: 100vh;
    height: fit-content;
    margin: 0 auto;
    margin: 2rem;
    align-items: center;    
    justify-content: center;     
}

.header-text,
.header-photo {
    text-align: center;
    width: 100%;    
}

.header-photo img{
    position: relative;    
    padding: 1rem;    
}

@media only screen and (max-width: 870px) {
    .home-page {
        flex-direction: column;
    }
}