.contact-page {
    height: fit-content;
    margin-top: 10%;
}
.contact-page h2 {
    margin-bottom: 8%;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: #8d9092;
    text-shadow: #ffd700 5px 2px 2px;
}

.contact-block {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.social-media,
.contact-form {
    width: 100%;    
}

.social-media ul,
.contact-form ul {
    padding: 0;
    margin: 0;
    top: 0;
}

.social-media li {
    display: block;   
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;    
    margin-bottom: 24px;      
}

.social-media li img {
    width: 46px;
    height: 41px;
    padding-right: 4px;
    margin-right: 1rem;
}

.social-media li a {
    font-size: 1.4rem;
    font-weight: 700;
    color: #8d9092;
    text-decoration: none;
}
.social-media li a:hover {
    font-size: 1.5rem;
    color: #525455;
    overflow: hidden;
}

.contact-form li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;    
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;    
}

li.form-top {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}

li.form-top:first-child { 
    margin-left: 0;
}

input[type='text'],
input[type='email'] {
  width: 100%;
  border: 0;
  background: #c0dae7;
  height: 50px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #ffd700;
}

textarea {
    width: 100%;
    border: 0;
    background: #a5dcfa;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
    border: 1px solid #ffd700;
}

.send-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: #8d9092;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
}

.send-button:hover {
    background: #525455;
}

@media only screen and (max-width: 1200px) {
    .contact-page h2 {
        font-size: 4rem;
    }
    .contact-block {
        flex-direction: column-reverse;        
    }
}

@media only screen and (max-width: 520px) {
    .contact-page h2 {
        font-size: 3rem;
    }
    .contact-block {
        flex-wrap: wrap;  
    }

    .social-media li a {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 455px) {
    .social-media li {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .social-media li a {
        font-size: 1rem;
    }
}